PortableStudentsManager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PortableStudentsManager/bin/PortableStudentsManager.dll
Pattern/PatternAndPractice/SVGjsLIB/node_modules/
/Pattern/PatternAndPractice/AbstructOrInterface/bin/**/*
/Pattern/PatternAndPractice/AbstructOrInterface/bin/Debug/**
/Pattern/PatternAndPractice/ComPoint/obj/**/
/**/Debug/**/*
/Pattern/PatternAndPractice/AbstructOrInterface/bin/Debug/AbstructOrInterface.exe
/Pattern/PatternAndPractice/AbstructOrInterface/bin/Debug/AbstructOrInterface.exe.config
/Pattern/PatternAndPractice/AbstructOrInterface/bin/Debug/AbstructOrInterface.pdb
/Pattern/PatternAndPractice/AbstructOrInterface/obj/Debug/AbstructOrInterface.pdb
/Pattern/PatternAndPractice/AbstructOrInterface/bin/**/*
/Pattern/PatternAndPractice/AbstructOrInterface/bin/**/*
/Pattern/PatternAndPractice/AbstructOrInterface/bin/*
/Pattern/PatternAndPractice/ComPoint/bin/*
/CodeTests/CodetTests/.vs/CodetTests/v15/.suo
/CodeTests/CodetTests/PlayWithCollection/bin/Debug/PlayWithCollection.pdb
/CodeTests/CodetTests/PlayWithCollection/obj/Debug/PlayWithCollection.exe
/CodeTests/CodetTests/PlayWithCollection/obj/Debug/PlayWithCollection.pdb
/Pattern/PatternAndPractice/.vs/PatternAndPractice/DesignTimeBuild/.dtbcache
/Pattern/PatternAndPractice/.vs/PatternAndPractice/v15/.suo
/Pattern/PatternAndPractice/.vs/PatternAndPractice/v15/Server/sqlite3/db.lock
/Pattern/PatternAndPractice/.vs/PatternAndPractice/v15/Server/sqlite3/storage.ide
/Pattern/PatternAndPractice/.vs/PatternAndPractice/v15/Server/sqlite3/storage.ide-shm
/Pattern/PatternAndPractice/.vs/PatternAndPractice/v15/Server/sqlite3/storage.ide-wal
/CodeTests/CodetTests/PlayWithCollection/bin/Debug/PlayWithCollection.pdb
/Pattern/PatternAndPractice/ComPoint/bin/*
/Pattern/PatternAndPractice/ClassLibrary1/obj/*
/Pattern/PatternAndPractice/Connector.Component/obj/*
/Pattern/PatternAndPractice/ConsoleTest/bin/**/*
/Pattern/PatternAndPractice/Component/bin/Debug/*
/Pattern/PatternAndPractice/ComPoint/obj/Debug/*
/Pattern/PatternAndPractice/ComPoint/bin/Debug/*
/Pattern/PatternAndPractice/ComPoint/bin/Debug/ComPoint.dll
/Pattern/PatternAndPractice/ComPoint/bin/Debug/ComPoint.pdb
/Pattern/PatternAndPractice/ComPoint/bin/Debug/Component.dll
/Pattern/PatternAndPractice/ComPoint/bin/Debug/Component.pdb
/Pattern/PatternAndPractice/ComPoint/obj/Debug/ComPoint.dll
/Pattern/PatternAndPractice/ComPoint/obj/Debug/ComPoint.pdb
/Pattern/PatternAndPractice/ComPoint/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Pattern/PatternAndPractice/Component.UI/Component.UI.csproj.user
/Pattern/PatternAndPractice/Component/bin/Debug/Component.dll
/Pattern/PatternAndPractice/Component/bin/Debug/Component.pdb
