
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using(Html.BeginForm("doP", "test")){
        <input type="submit"  value="Post" />
    }
    <div> 
        this is test message
    </div>
</body>
</html>
