@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <input type="text" value="" id="txtSqlinp" placeholder="SQL" /> <button id="btnExecute">Execute</button>
</div>
<ul id="clmLst">

</ul>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnExecute').click(function () {
                var dta = JSON.stringify({ sql: $('#txtSqlinp').val() });
                $.ajax({
                    method: "POST",
                    url: "/home/GetProperties",
                    contentType: "application/json",
                    data:dta,
                    success: function (da) {
                        for (var i = 0; i < da.length; i++) {
                            var elm = $('li').val(da[i].Name);
                            $("#clmLst").append(elm);
                            alert(da[i].Name + ' :' + da[i].Type);
                        }
                    }
                });
                //$.post("/home/Execute", dta, function (da) {
                //    alert(da);
                //},"application/json")

            });
        });
    </script>
    }