@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form >
            <select  id="x">
                <option value="1">dop</option>
            </select>
            <input type="submit" value="ok" />
        </form>
        Great View from pankaj
    </div>
</body>
</html>
